@import "colors";
.services{
     background-color:$forth;
    p{
        font: 900 1rem $text1;
        background-color: white;
        color: $second;
    
    } 
    p{
        font: 900 1rem $text1;
        background-color: white;
        color: $second;
    }
}